<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-warning" %> |
  <%= link_to "Back to posts", posts_path, class: "btn btn-dark"%>

  <br><br>
  <%= button_to "Destroy this post", @post, class: "btn btn-danger", method: :delete %>
</div>
